# Gradle files
.gradle/
build/

# Local configuration
local.properties

# IDE files
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# App specific build outputs
app/release/
app/debug/
captures/

# External native build
.externalNativeBuild/
.cxx/

# macOS files
.DS_Store
app/src/main/res/drawable/self_main.jpg
